<div class="new-questions-background">
  <div class="question_form">
    <%= form_for @question, :url => company_questions_path  do |f| %>
      <%= f.text_field :text, :placeholder => "Enter a Question", :autofocus => true %><%= f.submit %>
    <% end %>
  </div>
</div>
