<div>
  <h3>User Groups</h3>
  <% @users.group('groupable_type, groupable_id').each do |user| %>
    <button class="filters" id="<%= user.groupable.name %>"><%= user.groupable.name %></button><br><br>
  <% end %>
</div>
