<div>
  <h3>Locations</h3>
  <button class="clear" >Clear Filters</button>
  <% @users.group_by{ |x| x.location }.each do |user| %>
    <button class="location_filters" id="<%= user.first.gsub(/\s+/, "") %>"><%= user.first %></button>
  <% end %>
</div>