<h1 id="students_home">Students Home</h1>

<% @employers = User.where(:groupable_type => 'Company') %>

<div>
  <button class="clear" >Clear Filters</button>
  
  <br>
  <br>
  
  <h2>Employer Filters</h2>

  <%= render "location_filters" %>
  <%= render "groupable_filters" %>
</div>

<%= render "user_list" %>

