<h1 id="user_home"><%= @groupable %>s</h1>

<div>
  <button class="clear" >Clear Filters</button>

  <br>
  <br>

  <span>Filters</span>

  <%= render "location_filters" %>
  <%= render "groupable_filters" %>
</div>

<%= render "user_list" %>


