<h1 class="user_home"><%= @groupable %>s</h1>

<div class="filter-columns">
  <button class="clear" >Clear Filters</button>
  <div class="location-filters">
    <%= render "location_filters" %>
  </div>
  <div class="groupable-filters">
    <%= render "groupable_filters" %>
  </div>
</div>
  <div class="user-filtered">
  <%= render "user_list" %>
  </div>


