<h1 id="user_home"><%= @groupable %> Home</h1>

<div>
  <button class="clear" >Clear Filters</button>
  
  <br>
  <br>
  
  <h2>Filters</h2>
  <button class="filters" id="students">Students</button>
  <button class="filters" id="employers">Employers</button>
  
  <%= render "location_filters" %>
  <%= render "groupable_filters" %>
</div>

<%= render "user_list" %>


