<h1 id="user_home"><%= @groupable %></h1>

<div>
  <button class="clear" >Clear Filters</button>
  
  <br>
  <br>
  
  <h2>Filters</h2>
  
  <%= render "location_filters" %>
  <%= render "groupable_filters" %>
</div>

<%= render "user_list" %>


