<h1 class="user_home"><%= @groupable %></h1>

<div class="filter-columns">

  <div class="groupable-filters">
    <%= render "groupable_filters" %>
  </div>

  <div class="user-filtered">
  <%= render "user_list" %>
  </div>

  <div class="location-filters">
    <%= render "location_filters" %>
  </div>


</div>



