<div class="signup-buttons">
<button id="alumni"><%= link_to "I'm a DBc Alumni signup", new_student_path %></button>
<button id="mentor"><%= link_to "I'm a DBc Mentor", new_mentor_path, :name =>"mentor" %></button>
<button id="staff"><%= link_to "I'm a DBc Staff Member", new_staff_path %></button>
<button id="employer"><%= link_to "I'm an Employer", new_employer_path %></button>
</div>
