<% if @user.status == "active" %>
  <% if @user.groupable_type == "Cohort" %>
    <%= render partial: 'users/student_profile', locals: { user: @user, current_user: current_user } %>
  <% elsif @user.groupable_type == "Company" %>
    <%= render partial: 'users/employer_profile', locals: { user: @user } %>
  <% end %>
<% elsif @user.status == "inactive" %>
  <span>This user is inactive.</span>
<% end %>
