<div class="boot_background" style="background-image: url(<%= asset_path 'devbootcamp.png' %>); background-position:center;"></div>
<div class="background-white"></div>



<div class="thank_you_message">
  <div class="splash_title">
    <h1>Thank you for signing up!</h1>
    <h2><%= link_to "We'll be in touch soon. Keep an eye out for an e-mail response!", "http://www.devbootcamp.com/" %></h2>
  </div>
</div>
