/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  font-size: 16px;

}

@font-face {
  font-family: 'GothamBold';
  src:url('GothamBold.otf');
}

@font-face {
  font-family: 'AvenirNext';
  src:url('AvenirNext.otf');
}

body {
  background-color: #e2e5e7;
  padding-top:50px;
  font-family: 'AvenirNext';
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

span {
  font-family: 'AvenirNext';
  font-size: 20px;
}

.login input:focus {
  outline: none;
}

.login input[type="text"], .login input[type="password"] {
  height:24px;
  font-size:16px;
  font-family:'AvenirNext';
  border:none;
  padding: 0 10px;
  background-color: transparent;
}

.login input[type="text"]{
  position:absolute;
  top:15px;
  right:200px;
  width:9em;
}

.login input[type="password"]{
  position:absolute;
  right:70px;
  top:15px;
  width:6em;
}

.login input[type="submit"] {
  height:24px;
  position: absolute;
  right: 10px;
  top:15px;
  border:none;
  opacity:0.4;
}

.inner_login {
  float: right;
}

.inner_login input:focus {
  outline: none;
}

.inner_login input[type="text"], .inner_login input[type="password"] {
  height:16px;
  width:7em;
  font-size:16px;
  font-family:'AvenirNext';
}

.inner_login input[type="text"]{
  right:310px;
}

.inner_login input[type="password"]{
  right:180px;
}

.inner_login input[type="submit"] {
  height:20px;
  right:120px;
}

.signup {
  position: relative;
  right: -100px;
  top:3px;
  width:30px;
}

.profile_link {
  font-size: 16px;
}

.nav_background {
  z-index: 1;
  top:0;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.9);
  -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.9);
  box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.9);
}

.entire_nav {
  width:1300px;
  margin: 0 auto;
}

.user_nav {
  font-family: 'AvenirNext';
}

.main-logo {
  margin-top: 10px;
  margin-left: 10px;
}

.nav_choices {
  position: relative;
  display:inline;
  height:100px;
  z-index:3;
  top:-8px;
  left:-30px;
}

.nav_choices li {
  display: inline;
  margin-right: 40px;
  height: 100px;
}

.nav_choices a {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.nav_choices a:hover {
  color: rgba(0, 0, 0, 0.4);
}

.nav_profile {
  font-size: 16px;
  position: relative;
  display: inline;
  z-index: 2;
  top:-7px;
}

.email {
  margin-right: 20px;
  margin-left:10px;
}

.admin_user_element {
  border-top:1px dotted grey;
  border-bottom: 1px dotted grey;
  padding: 20px 20px;
  margin-top: -1px;
}

.login-inputs {
  margin-top:-30px;
  margin-left:-100px;
}

.signup-link {
float: right;
}

.green {
  background-color: green;
  margin:5px;
}

.red {
  background-color: red;
  margin:5px;
}

.approval_button {
  display:inline-block;
}

.category-title {
  margin-left: 40px;
}

.nav-search {
  position: relative;
  display: inline;
  top:-10px;
}

.nav-search input[type="text"] {
  position: relative;
  height:30px;
  width:200px;
  border:none;
  background-color: #fff;
  font-size: 14px;
  outline:none;
}

.search_icon {
  position: relative;
  margin-left: 25px;
  top: -5px;
}

.create_users_groupables {
  padding:45px 45px;
}

.admin-portion {
  padding-top:130px;
}

.admin-nav {
  position: fixed;
  top:180px;
  height: 100%;
  width:200px;
  left:0;
  opacity:0.5;
}

.admin-nav li {
  display: block;
  margin-right:40px;
  padding:5px;
  width:100px;
}

.admin-tables {
  float:left;
  padding-left:150px;
}

.error_flash {
  top:60px;
  right:20px;
  position:absolute;
  z-index:999;
  color:red;
  opacity:0.5;
}

.logo-link {
  position:relative;
  left:5px;
}

.location_filters, .group_filters {
  border:none;
  display:block;
  font-family: 'AvenirNext';
  width:200px;
  background-color: #e2e5e7;
}

.location-filters {
  float:left;
  display:inline-block;
  opacity:0.5;
}

.groupable-filters {
  float:left;
  display:inline-block;
  opacity:0.5;
}

.user-filtered {
  background-color: #fff;
  margin: 0 auto;
  width:450px;
  padding:10px;
  float:left;
}

.user_home {
  text-align: center;
}

.filter-columns {
  margin: 0 auto;
  width:900px;
}

.filter-columns button:hover {
  color:red;
  opacity:1;
}

.filter-columns h3 {
  text-align: center;
}

.clear {
  margin-left:60px;
  margin-bottom: 20px;
  width:80px;
  height:80px;
  border: none;
  font-size:16px;
  opacity:0.8;
  margin-right:10px;
  border-radius:100px;
}

.search_results {
  margin-top: 50px;
  margin-left: 100px;
}

.user-div {
  height:50px;
}

.user-div-text {
  display:inline;
  height: 35px;
  line-height: 35px;
}

.nav-descriptor {
  font-weight: bold;
}

.card_layout {
  padding: 20px 0;
  background-color: #FFF;
  width: 700px;
  height: 360px;
  margin:auto;
  margin-top: 100px;
  -webkit-box-shadow: 2px 1px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 1px 3px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 1px 3px rgba(50, 50, 50, 0.75);
}

.user_intro {
  width:300px;
}

.connect-button {
  width:270px;
  margin: 0 auto;
  margin-top: 30px;
}

.connect-button button {
  width:150px;
  height:50px;
  margin-left:60px;
}

.inactive-user {
  width:150px;
  margin: 0 auto;
  margin-top: 160px;
}

.connections-title {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}

.connections-person {
  margin:0 auto;
  width:200px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.connections-list {
  margin: 0 auto;
  margin-top: 30px;
  width:450px;
}

.companies-index {
  margin-left: 390px;
}

.signup-buttons {
  position:relative;
  margin: 0 auto;
  width:700px;
  height:400px;
  margin-top: 60px;
}

.signup-buttons a{
  color:black !important;
}
 
.company-card {
  margin: 0 auto;
  width:350px;
  text-align: center;
  margin-top: 10px;
}
.company-card #name{
  font-size: 35px;
  text-shadow: 1px 0px #eee, 0px 1px #ccc,
               2px 1px #eee, 1px 2px #ccc,
               3px 2px #eee, 2px 3px #ccc,
               4px 3px #eee, 3px 4px #ccc,
               5px 4px #eee, 4px 5px #ccc,
               6px 5px #eee
              
}
.company-card p {
  font-size: 20px;
}

.close {
  position: absolute;
  top:15px;
  margin:0 auto;
  background-color: #fff;
  border: none;
  font-size:20px;
}

.signup-popup {
  margin-top: 65px;
  padding-top: 20px;
}

.signup-popup input, .signup-popup textarea {
  border:none;
  font-size: 14px;
  outline: 0;
  resize: none;
}

.i_am {
  margin:0 auto;
  width:600px;
  position:relative;
  font-size: 65px;
  margin-left:260px;
  margin-top:150px;
}

.thank_you_message {
  margin-top: 270px;
}

.questions-grouped {
  width:500px;
  background-color: white;
  margin: 0 auto;
  margin-top: 60px;
  padding:30px;
}

.question-answer {
  padding:20px 10px;
  text-align: center;
}

.question-answer input {
  font-size: 20px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
}

.question-submit {
  float: right;
}

.button_to input{
  background-color: #ff6551;
}

.request-button {
  display:block;
  margin:0 auto;
  margin-top: 20px;
}

.company_signup_form {
  margin: 20px 0;
}

.company-card .edit{
  text-align: right;
  width:500px;
}

.edit-questions {
  float:left;
  margin-left:20px;
}

.new-questions-background {
  width:535px;
  height:30px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  padding:20px;
}

.question_form {
  margin: 0 auto;
}

.question_form input {
  margin-right:10px;
  border: none;
  outline: none;
  font-size:20px;
  background-color: transparent;
}

.question_form input[type="text"] {
  border-bottom: 1px solid black;
}

.no_connections {
  width:150px;
  margin:0 auto;
  padding:30px;
}

button.lettuce-intro {
  width:170px;
  padding:0;
  margin-left:50px;
  margin-top: 20px;
}

.user_nav_center {
  display: table;
  margin: 0 auto;
}
